$primary-color: #000;
$secondary-color: #ad9179;
$tertiary-color: #fff;

$speed-normal: 0.2s;
$speed-slow: 0.4s;

$font-normal: 16px;

$weight-nomal: 400;
$weight-bold: 700;

$shrink-normal: 0.97;
