.go-to-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.65);
    color: $tertiary-color;
    opacity: 0;
    visibility: none;
    transition: $speed-normal;

    &--active {
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        color: $tertiary-color;
        text-decoration: none;
    }

    &:focus {
        transform: scale($shrink-normal);
    }

    &__icon {
        width: 14px;
        height: 14px;
        transform: rotate(180deg);
    }
}
